*{
     margin: 0;
     padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; 
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #153677, #3e074c);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 150px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 10px;

}

.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img{
    width: 40px;
    margin: 25px 10px;
    border: 1px solid black;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: lightgray;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 25px ;
     
}

input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
}

button{

    border: none;
    outline: none;
    padding: 16px 20px;
    border-radius: 20px;
    background:  linear-gradient(90deg, #3e074c, #153677);
    color: white;
    cursor: pointer;
    font-size: 12px ;
}

ul li{
    list-style-type: none ;
    padding: 12px 8px 12px 50px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position: absolute;
    height: 20px;
    width: 20px; 
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 20px;
}

ul li.checked{
    color-scheme: rgb(126, 20, 38);
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png);

}

ul li span{
    position: absolute;
    right: 0;
    top: 2px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: lightgrey;
    }